$colorthemeforco1: #ff8500 !default;
$colorthemeforco2: #0090b2 !default;
$colorthemeforco3: #ffffff !default;
$brand-primary: #ff8500 !default;
$focuscolor: #59ABE3 !default;

$bodybackgroundcolor : #f4f4f4 !default;
$vnavbackgroundcolor : #eceeef !default;
$course-content-maxwidth: 1024px !default;
